<header class="site-header">
  <div class="wrap">
    <div>
      <a class="site-title" href="{{ site.baseurl }}/"><img style="height: 16em; width: 22em" class="center" src="/Edweb/img/EA official logo new.png" alt="EA Investment logos"></a>
    </div>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div style="text-align: center;" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/Edweb/">Home</a></li>
            <li><a href="/Edweb/ContactUs">Contact Us</a></li>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pueblos
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/Edweb/PueblosG/Carolina">Carolina</a></li>
                <li><a href="/Edweb/PueblosG/Bayamon">Bayamon</a></li>
                <li><a href="/Edweb/PueblosG/Caguas">Caguas</a></li>
                <li><a href="/Edweb/PueblosG/Guayama">Guayama</a></li>
                <li><a href="/Edweb/PueblosG/Cabo Rojo">Cabo rojo</a></li>
                <li><a href="/Edweb/PueblosG/Rio Grande">Rio Grande</a></li>
                <li><a href="/Edweb/PueblosG/Lajas">Lajas</a></li>
                <li><a href="/Edweb/PueblosG/Vieques">Vieques</a></li>
                <li><a href="/Edweb/PueblosG/Mayaguez">Mayaguez</a></li>
              </ul>
            </div>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>
</header>
