<header class="site-header">
  <div class="wrap">
    <div>
      <a class="site-title" href="{{ site.baseurl }}/"><img style="height: 16em; width: 22em" class="center" src="/Edweb/img/EA official logo new.png" alt="EA Investment logos"></a>
    </div>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div style="text-align: center;" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/Edweb/">Home</a></li>
            <li><a href="/Edweb/ContactUs/" class="headerIcon">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><center>
        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" style="background-color: #337ab7; text-shadow:0 0px 0 #fff; color:white" type="button" id="menu1" data-toggle="dropdown">Pueblos
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Carolina">Carolina</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Bayamon">Bayamon</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Caguas">Caguas</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Cabo Rojo">Cabo rojo</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Rio Grande">Rio Grande</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Fajardo">Fajardo</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/san juan">San Juan</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Lajas">Lajas</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Humacao">Humacao</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Rincon">Rincon</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Toa Baja">Toa Baja</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Vieques">Vieques</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/Edweb/PueblosG/Mayaguez">Mayaguez</a></li>
        </ul>
      </div></center>
    </div>
  </nav>
</header>
