<!DOCTYPE html>
<html>

  {% include head.html %}

  <body style="background-image: url(http://www.remaxhmg.com/images/bgbackgroundbgbackgroundbgbackground.jpg);>sqx

    {% include header.html %}
    <div class="none"></div> 

<div class="locationSelector">
  <div id="puebloTopMenu">
    <h3><b>Casas por pueblo:</b></h3>
  </div>
  <div style="margin-left: 12px">  
    <li><a href="/Edweb/PueblosG/Carolina">Carolina</a></li>
    <li><a href="/Edweb/PueblosG/Bayamon">Bayamon</a></li>
    <li><a href="/Edweb/PueblosG/Caguas">Caguas</a></li>
    <li><a href="/Edweb/PueblosG/Cabo Rojo">Cabo rojo</a></li>
    <li><a href="/Edweb/PueblosG/Rio Grande">Rio Grande</a></li>
    <li><a href="/Edweb/PueblosG/Lajas">Lajas</a></li>
    <li><a href="/Edweb/PueblosG/Vieques">Vieques</a></li>
    <li><a href="/Edweb/PueblosG/Mayaguez">Mayaguez</a></li>
  </div>
</div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
